.container {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 25px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.card:last-child {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    height: 700px !important;
  }
}

@media only screen and (max-width: 1025px) {
}
