*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--Font);
}

:root {
  --clr-brand: #5c5ef0;
  --clr-danger: #f05c5c;
  --clr-brand-darker: #4e50d2;
  --clr-warning: #f0c85c;
  --clr-info: #5cbaf0;
  --clr-bg: white;
  --clr-gray: #d9d9d9;
  --clr-black: #263238;
  --clr-link-active: #263238;
  --clr-link: #717171;
  --clr-secondary-button: #e0e0e0;
  --btn-radius: 6px;
  --btn-hover-radius: 12px;
  --footer: conic-gradient(
    from 180deg at 100% 100%,
    var(--clr-gray) 0deg,
    rgba(146, 146, 146, 0) 360deg
  );
  --toastify-color-info: var(--clr-info);
  --toastify-color-success: var(--clr-brand);
  --toastify-color-warning: var(--clr-warning);
  --toastify-color-error: var(--clr-danger);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
