*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--Font);
}

:root {
  --clr-brand: #5d5fef;
  --clr-danger: #ef5d5d;
  --clr-brand-darker: #4e50d2;
  --clr-bg: white;
  --clr-gray: #d9d9d9;
  --clr-black: #0e0e2c;
  --clr-link-active: #0e0e2c;
  --clr-link: #717171;
  --clr-secondary-button: #e0e0e0;
  --btn-radius: 6px;
  --btn-hover-radius: 12px;
  --footer: conic-gradient(
    from 180deg at 100% 100%,
    var(--clr-gray) 0deg,
    rgba(146, 146, 146, 0) 360deg
  );
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
