.errorContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text {
  color: var(--clr-link);
  margin-bottom: 25px;
}
.backbutton {
  color: var(--clr-brand);
  font-size: 20px;
  padding-inline: 25px;
  transition: 400ms;
}
.backbutton:hover {
  filter: brightness(70%);
  background: var(--footer);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 180px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    justify-content: center;
    align-items: center;
    padding-inline: 25px;
  }
}

@media only screen and (max-width: 788px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
}
