.categories {
  display: grid;
  grid-template-areas:
    ". . . ."
    ". .  last last";
  gap: 25px;
  margin-bottom: 20px;
  height: 100%;
}

.category {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--clr-gray);
  border-radius: var(--btn-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category:last-child {
  grid-area: last;
}
.icon {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-brand);
  font-size: 52px;
  color: white;
  border-radius: var(--btn-radius);
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.565);
  border-radius: 0 0 var(--btn-radius) var(--btn-radius);
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
}
.img {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.button {
  padding-inline: 15px;
  padding-block: 10px;
  border: none;
  background: var(--clr-brand);
  color: white;
  border-radius: var(--btn-radius);
  cursor: pointer;
}
.data {
  text-align: right;
}
.name {
  color: white;
}
.size {
  color: white;
}
.firstcol {
  display: flex;
  gap: 21px;
}
