.container {
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--clr-brand);
  margin-top: 180px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  align-items: center;
  margin-bottom: 23px;
}

.text {
  font-weight: 700;
  color: white;
  font-size: 3rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cardHeader {
  font-size: 2rem;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.card {
  width: 250px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-inline: 10px;
  background: var(--clr-brand-darker);
  color: white;
  border-radius: var(--btn-radius);
}

@media only screen and (max-width: 1025px) {
  .container {
    padding-inline: 50px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .card {
    width: 300px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding-block: 50px;
  }
  .cards {
    grid-template-columns: 1fr !important;
  }
  .card {
    width: 250px !important;
    font-size: 1rem !important;
  }
}
